name: molam_form
description: Molam Form Core - Universal payment SDK for Flutter (iOS & Android)
version: 1.0.0
homepage: https://molam.com
repository: https://github.com/molam/molam-form-flutter

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=2.5.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  # No assets or fonts for now
